header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#06283D;
    color: black;
}

.header-link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.book-icon {
    margin-left: 8px;
    font-size: 40px;
    color: #DFF6FF;
}

.header-title {
    margin-left: 8px;
    font-size: 26px;
    font-weight: 700;
    color: #DFF6FF;
    text-decoration: none;
}

.hamburger-btn {
    height: 40px;
    margin-right: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #DFF6FF;
    margin: 6px 2px;
}