@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bg-primary: #22c165;
}

.btn-design {
    margin: 12px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--bg-primary);
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.btn-design:hover {
    background-color: #21aa5a;
}

.form-link {
    margin: 16px auto;
    font-weight: 600;
    font-size: 14px;
    color: #1363DFFF;
    text-decoration: none;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    margin: 3px;
    cursor: pointer;
}

.blue-btn {
    background-color: #1363DF;
}

.blue-btn:hover {
    background-color: #1055be;
}

.red-btn {
    background-color: rgb(222, 0, 0);
}

.red-btn:hover {
    background-color: rgb(200, 0, 0);
}