.dashboard-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 0;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgb(0 0 0 / 10%);
}

.dashboard-title-icon {
    display: flex;
    align-items: center;
}

.dashboard-icon {
    margin-left: 8px;
    font-size: 40px;
    color: #1c9e52;
}

.dashboard-title {
    margin: 10px;
    font-size: 28px;
    font-weight: 300;
}