.buy-cart-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout {
    margin-left: 0;
    padding: 12px 40px;
}

.total-price {
    font-weight: 700;
    font-size: 28px;
}