.login-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(75, 30, 103);
    border-radius: 5px;
}

.login-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}