.admin-dashboard-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgb(0 0 0 / 10%);
}

.dashboard-books-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-books-title {
    margin: 20px;
    font-size: 26px;
    font-weight: 300;
}

.create-book-btn {
    width: fit-content;
    display: flex;
    align-items: center;
}

.plus-icon {
    margin-right: 5px;
}

hr {
    width: 95%;
    margin: 0 auto 10px;
    border: none;
    border-top: 1.5px solid #E5E9EF;
}

.dashboard-books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px,1fr));
    justify-items: center;
    gap: 10px;
    align-items: flex-start;
}

.dashboard-book-card {
    width: 200px;
    margin: 8px;
    text-align: center;
    cursor: pointer;
    background: none;
    border: none;
}

.dashboard-book-title {
    margin: 5px 0 5px;
    font-size: 18px;
    font-weight: 500;
}

.dashboard-book-author {
    font-size: 16px;
}